#DB
POSTGRES_DB=<database_name>
POSTGRES_DB_PORT=<port>
POSTGRES_USER=<username>
POSTGRES_PASSWORD=<password>
POSTGRES_HOST=<host>

#DJANGO
SECRET_KEY=<secret_key>
DJANGO_SETTINGS_MODULE=<settings_module>
RENDER_EXTERNAL_HOSTNAME=<hostname>
